@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");


body {
    width: 700px;
    margin: 40px auto;
    line-height: 1.4em;
    background: #fffff4;
    color: #3a1616;
    padding: 0 10px;
    font-size: 16px;
    font-family: "Lora";
}

h1,
h2,
h3 {
    line-height: 1.4em;
    font-family: "Lora";
}

img {
    width: 600px;
    border-radius: 10px;
    text-align: middle;
}

table {
    margin: 1em auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-collapse: collapse;
}
table td,th {
    padding: 0.3em 0.6em;
    vertical-align: middle;
}
table tr {
    border-top: 0.5px solid gray;
}

a {
    cursor: pointer;
    color: #217ab7;
    line-height: inherit;
    transition: .14s;
    text-decoration: none;
}
a:hover {
    color: white;
    border-bottom: 1px dotted;
    background-color: #3297d3;
}
a:visited {
    color: #43458b;
    border-color: #43458b;
}
a:visited:hover {
    color: white;
    background-color: #9251ac;
}

footnotes {
    font-size: smaller;
}

bibliography {
    font-size: smaller;
}

::selection {
    color: white;
    background: #ff4081;
}

/* code highlight */
.org-src-container {
    border: 1px solid #ccc;
    margin: 1em auto;
    padding: 0.1em 0.5em;
    position: relative;
    overflow: auto
}

pre {
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    box-shadow:3px 3px 3px #eee;
    padding: 8pt;
    margin: 1.2em;
}

pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
}

pre.src:before {
    display:none;
    position:absolute;
    top:-10px;
    right:10px;
    padding:3px;
    border:1px solid #000
}

pre.src-awk:before { content: 'awk'; }
pre.src-c:before { content: 'c'; }
pre.src-R:before { content: 'R'; }
pre.src-julia:before { content: 'julia'; }
pre.src-python:before { content: 'python'; }
pre.src-css:before { content: 'css'; }
pre.src-emacs-lisp:before { content: 'emacs-lisp'; }

/* Set the colors in <pre> blocks from the Leuven theme */
pre span.org-builtin                     {color:#006FE0;font-weight:bold;}
pre span.org-string                      {color:#008000;}
pre span.org-doc                         {color:#008000;}
pre span.org-keyword                     {color:#0000FF;}
pre span.org-variable-name               {color:#BA36A5;}
pre span.org-function-name               {color:#006699;}
pre span.org-type                        {color:#6434A3;}
pre span.org-preprocessor                {color:#808080;font-weight:bold;}
pre span.org-constant                    {color:#D0372D;}
pre span.org-comment-delimiter           {color:#8D8D84;}
pre span.org-comment                     {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-1            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-2            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-3            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-4            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-5            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-6            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-7            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-8            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-9            {color:#8D8D84;font-style:italic}
pre span.org-rainbow-delimiters-depth-1  {color:#707183;}
pre span.org-rainbow-delimiters-depth-2  {color:#7388d6;}
pre span.org-rainbow-delimiters-depth-3  {color:#909183;}
pre span.org-rainbow-delimiters-depth-4  {color:#709870;}
pre span.org-rainbow-delimiters-depth-5  {color:#907373;}
pre span.org-rainbow-delimiters-depth-6  {color:#6276ba;}
pre span.org-rainbow-delimiters-depth-7  {color:#858580;}
pre span.org-rainbow-delimiters-depth-8  {color:#80a880;}
pre span.org-rainbow-delimiters-depth-9  {color:#887070;}
pre span.org-sh-quoted-exec              {color:#FF1493;}
pre span.org-diff-added                  {color:#008000;}
pre span.org-diff-changed                {color:#0000FF;}
pre span.org-diff-header                 {color:#800000;}
pre span.org-diff-hunk-header            {color:#990099;}
pre span.org-diff-none                   {color:#545454;}
pre span.org-diff-removed                {color:#A60000;}

.status {
    font-size: smaller;
    margin: 2em auto;
}
