body {
    width: 800px;
    margin: auto;
    line-height: 1.5em;
    padding: lem;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

p.verse {
    margin-left: 3%;
}

img, iframe, video {
    max-width: 80%;
}

table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table tr {
    border-top: 0.5px solid gray;
}

blockquote {
    margin: 1em 2em;
    padding-left: 1em;
    border-left: 3px solid #ddd;
}

.org-src-container {
    background: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    font-family: Lucida Console, monospace;
    margin: 1em auto;
    padding: 0.1em 0.5em;
    position: relative;
}

#postamble p, #preamble p {
    font-size: small;
    margin: .2em;
}
